<ul>
    <li><a href="/">Início</a></li>
    <li><a href="/categorias">Categorias</a></li>
    <li><a href="/categorias/nova">Nova categoria</a></li>
</ul>
<br><br>

<h1>Olá Fullstack Lab <%= i %></h1>